@page "/counter"
@page "/counter/{Id:int}"
@using CursoBlazor.Models
@using CursoBlazor.UI.Interfaces
@inject ICategoriaService CategoriaService
@inject NavigationManager NavigationManager

<PageTitle>Categorias</PageTitle>

<!-- Modal -->
<div class="modal" id="staticBackdrop" tabindex="-1" style="display:block" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	  <EditForm Model="@categoria" OnValidSubmit="SendCategoria">
		  <div class="modal-body">
        
			<!-- Para mostrar los possibles errores en el formulario -->
			<DataAnnotationsValidator />

			<table>
				<tr>
					<td>
						<label class="form-label">Nombre de la categoria</label>
						<input type="text" @bind="categoria.Name" class="form-control">
						<ValidationMessage For="(() => categoria.Name)"/>
					</td>
				</tr>
			</table>
		
      </div>
      <div class="modal-footer">
		  <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm">
		  <a class="btn btn-danger btn-sm" href="/fetchdata" type="button">Cancelar</a>
		  <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
		-->
      </div>
	  </EditForm>
    </div>
  </div>
</div>

@code {

	[Parameter]
	public int Id { get; set; }

	protected async override Task OnInitializedAsync()
	{
		if (Id > 0)
		{
			categoria = await CategoriaService.GetCategoria(Id);
		}
	}

	Categoria categoria = new Categoria();
	public async Task SendCategoria()
	{
		await CategoriaService.SaveCategoria(categoria);

		// Controla la url del navegador:
		// Borra la url actual y se reemplaza por indicada
		// sin realizar ninguna peticion
		// NavigationManager.NavigateTo();

		NavigationManager.NavigateTo("/fetchdata");
	}
}
